SERVER_PORT=8080
CONTEXT_PATH=/

DATABASE_URL=jdbc:postgresql://127.0.0.1:5432/booking-db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=booking-db
DATABASE_PORT=5432

KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092,127.0.0.1:9094,127.0.0.1:9096
KAFKA_CLUSTER_ID=booking-local-cluster
KAFKA_1_EXPOSED_PORT=9092
KAFKA_2_EXPOSED_PORT=9094
KAFKA_3_EXPOSED_PORT=9096

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

OUTBOX_BATCH_SIZE=20
OUTBOX_LOOKBACK_DAYS=7
OUTBOX_FIXED_DELAY=5s
