DATABASE_URL=jdbc:postgresql://93.125.42.36:15432/students?currentSchema=jdmik12_recruitment_service&ApplicationName=${spring.application.name}
DATABASE_USERNAME=student
DATABASE_PASSWORD=L4pteAE72ZANyE5
DATABASE_NAME=recruitment-db
KAFKA_BOOTSTRAP_SERVERS=93.125.42.36:9091,93.125.42.36:9092,93.125.42.36:9093